/*color variables start*/
$primary: #714CCE;
$bg-color: #CCFFFF;
$background: linear-gradient(90deg, rgb(211, 59, 179) 0%, rgb(26, 91, 230) 0%, rgb(211, 59, 179) 100%);
$dark: hsl(0, 0%, 13%);
$gray: hsl(0, 0%, 29%);
$light-gray: hsl(0, 0%, 45%);
/*color variables end*/